[workspace]
members = [
    "crates/api",
    "crates/client",
    "crates/server",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"
rust-version = "1.88"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
anyhow = "1.0"
axum = "0.8"
clap = "4.5"
indexmap = "2.12"
serde = "1.0"
serde_with = "3.16"
sysinfo = "0.37"
tokio = "1.48"
toml = "0.9"
tower-http = "0.6"
tracing = "0.1"
tracing-subscriber = "0.3"
wgpu = "27"

ere-dockerized = { git = "https://github.com/eth-act/ere", rev = "e602c1824e1ce6dcfce58c199978957c3347a49c" }
ere-zkvm-interface = { git = "https://github.com/eth-act/ere", rev = "e602c1824e1ce6dcfce58c199978957c3347a49c" }
