[package]
name = "zkboost"
version = "0.1.0"
edition = "2024"
rust-version = "1.88"

[dependencies]
anyhow = "1.0"
axum = { version = "0.8", features = ["macros"] }
clap = { version = "4.5", features = ["derive"] }
indexmap = { version = "2.12", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_with = { version = "3.16", features = ["base64"] }
sysinfo = "0.37"
tokio = { version = "1.48", features = ["full"] }
toml = "0.9"
tower-http = { version = "0.6", features = ["trace", "limit"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
wgpu = { version = "27" }

ere-dockerized = { git = "https://github.com/eth-act/ere", rev = "98d988c2ec8347f838daea0e3c1d988552ce039f" }
ere-zkvm-interface = { git = "https://github.com/eth-act/ere", rev = "98d988c2ec8347f838daea0e3c1d988552ce039f" }
