port = 3000
el_endpoint = 

[dashboard]
enabled = true

[[zkvm]]
kind = "ere"
proof_type = "ethrex-zisk"
endpoint = "http://ethrex-zisk:3000"

[[zkvm]]
kind = "ere"
proof_type = "reth-zisk"
endpoint = "http://reth-zisk:3000"
