port = 3000
el_endpoint = 

[[zkvm]]
kind = "external"
proof_type = "ethrex-zisk"
endpoint = "http://ethrex-zisk:3000"

[[zkvm]]
kind = "external"
proof_type = "reth-zisk"
endpoint = "http://reth-zisk:3000"
