name: Build image

on:
  push:
    branches:
      - master
      # FIXME: Remove this
      - han/feature/ews
  pull_request:

jobs:
  build-ews:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build execution-witness-sentry image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.ews
          push: github.event_name == 'push' # FIXME: && github.ref == 'refs/heads/master'
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository }}/execution-witness-sentry:latest
